@mixin input {
  @apply p-2 my-2 rounded-md border border-neutral-300;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;

  &__text {
    input,
    textarea {
      @include input;
    }
  }
  &__select {
    select {
      @include input;
      @apply pr-8;
    }
  }
  &__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .form-check-input {
      margin: 0;
      padding: 0;
    }
  }
  &__file {
    display: block;
  }
}

input {
  @include input;
}

form p {
  display: flex;
  flex-direction: column;
}

.errorlist li {
  color: red;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.StripeElement,
.stripe-style-input {
  @include input;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

#payment-form .form-control,
#card-element {
  @apply bg-white p-2 my-2 rounded-md border border-neutral-300;
}
