<li>
  <a href="{% url 'account_orders' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Orders">Orders</a>
</li>
<li>
  <a href="{% url 'account_reviews' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Reviews">Reviews</a>
</li>
<li>
  <a href="{% url 'account_profile' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Profile">Profile</a>
</li>
<li>
  <a href="{% url 'account' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Account">Account</a>
</li>

  