{% if request.user.is_authenticated %}
<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
  {% if request.user.is_superuser %}
    <li>
      <a href="{% url 'admin_orders' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Orders">Orders</a>
    </li>
  </li>
  <li>
    <a href="#" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Customers">Customers</a>
  </li>
  <li>
    <a href="{% url 'admin_products' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Products">Products</a>
  </li>
  <li>
    <a href="#" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Orders">Orders</a>
  </li>
    <li>
      <a href="{% url 'admin:index' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Admin">Admin</a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'user_account' %}" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white" aria-label="Link to Account">Account</a>
    </li>
  {% endif %}
  
  
</ul>
<div class="py-2">
  <a href="{% url 'account_logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-100 dark:hover:bg-blue-600 dark:text-gray-200 dark:hover:text-white" aria-label="Link to Sign Out">Sign Out</a>
</div>
{% else %}
<div class="py-2">
  <a href="{% url 'account_login' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-100 dark:hover:bg-blue-600 dark:text-gray-200 dark:hover:text-white" aria-label="Link to Sign In">Sign In</a>
</div>
{% endif %}