{% load ui_tags %}
<div class="hidden md:flex ml-auto">
  {% if request.user.is_authenticated %}
    <!-- Dropdown button -->
    <button id="desktopMenuButton" data-dropdown-toggle="desktopMenu" data-dropdown-placement="bottom-end" type="button" aria-label="Menu Toggle Desktop">{% icon 'icon-hamburger' 'sm' 'p-3 bg-blue-600 hover:bg-blue-700 fill-blue-100 rounded-md' %}</button>
    <!-- Dropdown menu -->
    <div id="desktopMenu" class="z-10 hidden rounded-lg shadow w-44 bg-blue-700">
      <ul class="py-2 text-sm text-gray-700">
        {% if request.user.is_superuser %}
          {% include './cms_links.html' %}
        {% else %}
          {% include './account_links.html' %}
        {% endif %}
      </ul>
      <div class="py-2">
        <a href="{% url 'account_logout' %}" class="flex items-center gap-2 px-4 py-2 text-sm text-neutral-100 hover:bg-blue-800 transition duration-300 easy-in-out" aria-label="Link to Sign Out">{% icon 'icon-logout' 'sm' 'fill-neutral-100' %}Sign Out</a>
      </div>
    </div>
  {% else %}
    <div class="py-2">
      <a href="{% url 'account_login' %}" class="flex items-center gap-2 px-4 py-2 text-sm text-neutral-100 rounded-lg bg-blue-600 hover:bg-blue-800 transition duration-300 easy-in-out" aria-label="Link to Sign In">{% icon 'icon-login' 'sm' 'fill-neutral-100' %}Sign In</a>
    </div>
  {% endif %}
</div>
