{% load ui_tags %}
<div class="hidden md:flex gap-2">
  <a href="{% url 'home' %}" aria-label="Link to Home">Home</a>
  <a href="{% url 'about' %}" aria-label="Link to About">About</a>
  <a href="{% url 'contact' %}" aria-label="Link to Contact">Contact</a>
</div>

<div class="hidden md:flex ml-auto">
  <!-- Dropdown button -->
  <button id="desktopMenuButton" data-dropdown-toggle="desktopMenu" type="button">
    {% icon 'icon-hamburger' 'sm' 'p-3 bg-blue-600 hover:bg-blue-700 rounded-md fill-blue-50' %}
  </button>

  <!-- Dropdown menu -->
  <div id="desktopMenu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-blue-700 dark:divide-gray-600">
    {% include './admin_links.html' %}
  </div>
</div>
