<footer class="bg-neutral-100 mt-auto">
  <div class="container py-8">
    <div class="">
      <ul class="flex justify-center items-center gap-2 pt-xxs">
        <li>
          <a href="#" aria-label="Link to Privacy Policy">Privacy Policy</a>
        </li>
        <li>
          <a href="#" aria-label="Link to Terms and Conditions">Terms and Conditions</a>
        </li>
        <li>
          <a href="#" aria-label="Link to Delivery">Delivery</a>
        </li>
        <li>
          <a href="#" aria-label="Link to Contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex justify-center py-xxs">
      &copy; 2024 Moodscape All rights reserved.
    </div>
  </div>
</footer>
