{% load ui_tags %}

<div class="container hidden md:flex pt-sm">
  <a 
    href="{% url 'account_orders' %}" 
    class="admin-nav-item{% active 'orders' %}"
    aria-label="Link to Orders"
    >
    Orders
  </a>
  <a 
    href="{% url 'account_reviews' %}" 
    class="admin-nav-item{% active 'reviews' %}"
    aria-label="Link to Reviews"
    >
    Reviews
  </a>
  <a 
    href="{% url 'account_profile' %}" 
    class="admin-nav-item{% active 'profile' %}"
    aria-label="Link to Profile"
    >
    Profile
  </a>
  <a 
    href="{% url 'account' %}" 
    class="admin-nav-item{% active 'account' %}"
    aria-label="Link to Account"
    >
    Account
  </a>
</div>
