{% load ui_tags %}

<div class="container hidden md:flex pb-sm pt-rg">
<a 
  href="{% url 'admin_account' %}" 
  class="admin-nav-item{% active 'account' %}"
  aria-label="Link to Products"
  >
  Account
</a>
<a 
  href="{% url 'admin_products' %}" 
  class="admin-nav-item{% active 'products' %}"
  aria-label="Link to Products"
  >
  Products
</a>
<a 
  href="#" 
  class="admin-nav-item{% active 'categories' %}"
  aria-label="Link to Categories"
  >
  Categories
</a>
<a 
  href="#" 
  class="admin-nav-item{% active 'orders' %}"
  aria-label="Link to Orders"
  >
  Orders
</a>
<a 
  href="#" 
  class="admin-nav-item{% active 'clients' %}"
  aria-label="Link to Clients"
  >
  Clients
</a>
</div>