{% extends 'base.html' %}
{% load ui_tags %}

{% block content %}
  {% include 'partials/page_title.html' with title='Update Review' variant='backend' %}
  {% include 'partials/nav_cms.html' %}

  <section class="container py-rg">
    <a href="javascript:history.back()" class="inline-block bg-neutral-200 hover:bg-neutral-300 transition-colors duration-200 ease-in-out p-2 pr-3 rounded-md">
      <span class="flex items-center">
        <span class="mr-1">{% icon 'icon-arrow' 'sm' %}</span>
        <span class="text-xs uppercase font-bold">Back</span>
      </span>
    </a>
  </section>

  <section class="container pb-rg">
    <div class="flex gap-4">
      <img src="{{ review.product.featured.url }}" alt="{{ review.product.name }}" class="w-24 h-24" />
      <div>
        {% render_status review.status %}
        <p class="text-lg m-0">{{ review.product.name }}</p>
        {% include 'review/partials/review.html' %}
      </div>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="field field__select">
        <label for="status">Set status to:</label>
        {{ status_form.status }}
      </div>
      <button class="button button__primary" type="submit" name="update_status">Update Status</button>
    </form>
  </section>
{% endblock %}
