@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700 text-base m-0 p-0 leading-normal;
  }
  p {
    @apply my-5 first:mt-0;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-bold my-6 first:mt-0;
  }
  h1,
  .h1 {
    @apply text-h1-sm leading-tight;
  }
  h2,
  .h2 {
    @apply text-h2-sm;
  }
  h3,
  .h3 {
    @apply text-h3-sm;
  }
  h4,
  .h4 {
    @apply text-h4-sm;
  }
  h5,
  .h5 {
    @apply text-h5-sm;
  }
  h5,
  .h6 {
    @apply text-h6-sm;
  }

  @media all and (min-width: 768px) {
    h1,
    .h1 {
      @apply text-h1;
    }
    h2,
    .h2 {
      @apply text-h2;
    }
    h3,
    .h3 {
      @apply text-h3;
    }
    h4,
    .h4 {
      @apply text-h4;
    }
    h5,
    .h5 {
      @apply text-h5;
    }
    h6,
    .h6 {
      @apply text-h6;
    }
  }
}

@import "components/buttons";
@import "components/forms";
@import "components/navigation";

.site-logo svg {
  > path {
    @apply fill-blue-200;
  }
  g path {
    @apply fill-blue-800;
  }
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star {
  display: none;
}

.star + label {
  font-size: 2rem;
  fill: #ccc;
  cursor: pointer;
}

.star:checked + label {
  fill: #f5b301;
}

.star + label:hover,
.star + label:hover ~ label {
  fill: #f5b301;
}
