{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<main>
  <!-- Page Title -->
  <section class="bg-neutral-100">
    <div class="container py-xxs">
      <p>About</p>
    </div>
  </section>
  <!-- Hero -->
  <section class="bg-neutral-100">
    <div class="container">
      <h1>Welcome to Moodscape</h1>
    </div>
    <div class="container grid md:grid-cols-2 gap-4 pb-rg">
      <div>
        <p>Welcome to Moodscape, your destination for discovering and purchasing unique, high-quality artwork. Moodscape is an e-commerce platform dedicated to offering a curated collection of stunning watercolor art, captivating Irish abstract landscapes, vibrant floral art, detailed macro photography, innovative digital art, and intricate pen plotter art. This project marks the culmination of my journey as a Full Stack Developer at Code Institute, showcasing my ability to create a comprehensive and user-friendly online store.</p>

        <p>At Moodscape, we believe that art has the power to transform spaces and elevate moods. Our platform is designed to cater to art enthusiasts who are passionate about beautifying their surroundings with exquisite and unique pieces. We take pride in presenting a diverse range of art forms, each carefully selected to ensure the highest quality and uniqueness.</p>
      </div>
      <div>
        <img src="https://placehold.co/600x600" alt="Hero" class="w-full" />
      </div>
    </div>
  </section>
</main>
{% endblock %}
