{% extends 'base.html' %}
{% load ui_tags %}
{% load static %}

{% block content %}
  <main>
    <!-- Page Title -->
    {% include 'partials/page_title.html' with title='Contact' %}
    <!-- Hero -->
    <section class="bg-neutral-100">
      <div class="container md:grid md:grid-cols-2 md:gap-4 pb-rg">
        <div>
          <h2>Contact Moodscape</h2>
          <form id="contact-form" method="post">
            {% csrf_token %}
            {{ form.media }}

            {% render_field form.name %}
            {% render_field form.email %}
            {% render_field form.message %}

            <div class="flex items-center gap-4 py-xs">
              <button type="submit" class="button button__primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="mt-rg md:mt-0">
          <h2>Get in Touch</h2>
          <p>We appreciate your interest in Moonscape and are here to help with any questions, support needs, or feedback. Whether you need information about our art collections, assistance with your orders, or simply want to share your thoughts, feel free to contact us. Our team is dedicated to ensuring you have a great experience with Moonscape.</p>

          <div class="flex flex-col">
            <div class="flex items-start gap-2">
              {% icon 'icon-location' 'md' %}
              <p class="mt-0">
                Moonscape Gallery,<br />
                456 Art Lane,<br />
                Dublin,<br />
                D04 EFG2,<br />
                Ireland
              </p>
            </div>

            <div class="flex items-start gap-2">
              {% icon 'icon-envelope' 'md' %}
              <a href="mailto:support@moonscape.example.com" class="mt-0">support@moonscape.com</a>
            </div>

            <div class="flex items-start gap-2">
              {% icon 'icon-phone' 'md' %}
              <p class="mt-0">+353 (0)1 987 6543</p>
            </div>
          </div>

          <!-- Social Links -->
          <div class="flex gap-2">
            <a href="{{ config.FACEBOOK }}" target="_blank" aria-label="Link to Facebook Profile">{% icon 'icon-facebook' 'sm' 'p-1 bg-blue-400 rounded-sm fill-blue-200 hover:fill-blue-700' %}</a>
            <a href="https://www.instagram.com/" target="_blank" aria-label="Link to Instagram Profile">{% icon 'icon-instagram' 'sm' 'p-1 bg-blue-400 rounded-sm fill-blue-200 hover:fill-blue-700' %}</a>
            <a href="https://www.twitter.com/" target="_blank" aria-label="Link to Twitter Profile">{% icon 'icon-twitter' 'sm' 'p-1 bg-blue-400 rounded-sm fill-blue-200 hover:fill-blue-700' %}</a>
            <a href="https://www.linkedin.com/" target="_blank" aria-label="Link to LinkedIn Profile">{% icon 'icon-linkedin' 'sm' 'p-1 bg-blue-400 rounded-sm fill-blue-200 hover:fill-blue-700' %}</a>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
