{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <!-- Page Title -->
    {% include 'partials/page_title.html' with title='Frequently Asked Questions (FAQ)' %}
    <!-- FAQ Content -->
    <section class="bg-neutral-100 py-rg">
      {% for section in sections %}
        <div class="container">
          <h2>{{ section.name }}</h2>
          {% for faq in section.faq_set.all %}
            <div class="faq-item">
              <h3 number="{{ forloop.counter }}. " class="text-h4 before:content-[attr(number)]">{{ faq.question }}</h3>
              <p class="m-1">{{ faq.answer }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock %}
