{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <!-- Page Title -->
    {% include 'partials/page_title.html' with title='Privacy Policy' %}
    <!-- Privacy Policy Content -->
    <section class="bg-neutral-100">
      <div class="container py-rg">
        <h2>Introduction</h2>
        <p>Welcome to Moodscape's Privacy Policy. Your privacy is critically important to us.</p>

        <h2>Information We Collect</h2>
        <p>We collect various types of information in connection with the services we provide, including:</p>
        <ul>
          <li>Personal Information: such as your name, email address, and phone number.</li>
          <li>Usage Data: information about how you interact with our website.</li>
        </ul>

        <h2>How We Use Your Information</h2>
        <p>We use the information we collect for the following purposes:</p>
        <ul>
          <li>To provide and maintain our services.</li>
          <li>To notify you about changes to our services.</li>
          <li>To provide customer support.</li>
          <li>To improve our services.</li>
        </ul>

        <h2>Sharing Your Information</h2>
        <p>We do not share your personal information with third parties except in the following circumstances:</p>
        <ul>
          <li>With your consent.</li>
          <li>For external processing by trusted partners.</li>
          <li>For legal reasons.</li>
        </ul>

        <h2>Data Security</h2>
        <p>We implement security measures to protect your personal information. However, no method of transmission over the internet or electronic storage is 100% secure.</p>

        <h2>Retention of Data</h2>
        <p>We retain your personal information only for as long as necessary to fulfill the purposes we collected it for, including for legal, accounting, or reporting requirements.</p>

        <h2>Your Rights</h2>
        <p>You have certain rights regarding your personal information, including the right to access, correct, or delete your personal information.</p>

        <h2>Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
          <li>Email: {{ config.SHOP_EMAIL }}</li>
          <li>Phone: {{ config.SHOP_MOBILE_PHONE }}</li>
          <li>Address: {{ config.SHOP_ADDRESS }}</li>
        </ul>
      </div>
    </section>
  </main>
{% endblock %}
