{% extends 'base.html' %} 
{% load static %}
{% load ui_tags %}

{% block content %}
<div>
  <!-- Page Title -->
  {% include 'partials/page_title.html' with title="Shop" %}
  
  <div class="container py-rg md:grid md:grid-cols-12 gap-4">
    <!-- Sidebar -->
    <aside class="col-span-3">
      <!-- Search Form -->
      <div class="flex py-2 mb-4">
        <h3 class="m-0">Search</h3>
      </div>
      <form method="GET">
        <div class="flex rounded-lg border-2 border-transparent focus-within:border-blue-700">
        <input type="search" name="q" placeholder="Search" aria-label="Search" class="w-full border-none py-2 px-4 rounded-l-lg m-0 focus:ring-0">
        <button type="submit" aria-label="Submit Search" class="flex items-center bg-blue-700 hover:bg-blue-800 text-blue-50 py-2 px-3 rounded-r-lg newsletter translate-x-[2px]">
          {% icon 'icon-search' 'sm' 'fill-blue-200' %}
        </button>
        </div>
      </form>
      <!-- Categories -->
      <h3>Categories</h3>
      <div class="flex flex-col">
        {% with request.GET.category as current_category %}
        <ul>
          <li class="list-select {% if not current_category %}active{% endif %}">
            <a href="{% url 'shop' %}">All Items</a>
          </li>
          <li class="list-select {% if current_category == 'watercolor' %}active{% endif %}">
            <a href="{% url 'shop' %}?category=watercolor">Watercolors</a>
          </li>
          <li class="list-select {% if current_category == 'photographs' %}active{% endif %}">
            <a href="{% url 'shop' %}?category=photographs">Photographs</a>
          </li>
          <li class="list-select {% if current_category == 'plotter' %}active{% endif %}">
            <a href="{% url 'shop' %}?category=plotter">Pen Plotter</a>
          </li>
        </ul>
        {% endwith %}
      </div>

      <h3>Filters</h3>
      <form id="sortForm" class="flex pb-sm" method="GET">
        <!-- Preserve Category and Search in Sort Form -->
        {% if category %}
          <input type="hidden" name="category" value="{{ category }}">
        {% endif %}
        {% if search_term %}
          <input type="hidden" name="q" value="{{ search_term }}">
        {% endif %}
  
        <select name="sort" id="sort" class="p-2 border border-gray-300 rounded-md" onchange="this.form.submit()">
          <option value="">Select an option</option>
          <option value="price_asc" {% if sort == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
          <option value="price_desc" {% if sort == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
          <option value="rating_asc" {% if sort == 'rating_asc' %}selected{% endif %}>Rating: Low to High</option>
          <option value="rating_desc" {% if sort == 'rating_desc' %}selected{% endif %}>Rating: High to Low</option>
          <option value="alpha_asc" {% if sort == 'alpha_asc' %}selected{% endif %}>Alphabetical: A-Z</option>
          <option value="alpha_desc" {% if sort == 'alpha_desc' %}selected{% endif %}>Alphabetical: Z-A</option>
        </select>
      </form>

    </aside>
    <!-- Main Content -->
    <main class="col-span-9">
      <!-- Products -->
      <section class="grid grid-cols-2 lg:grid-cols-3 gap-4">
        {% if products %}
        {% for product in products %}
          <div class="bg-neutral-100 p-4">
            <a class="hover:drop-shadow-md transition duration-300 ease-in-out" href="{% url 'product' product.slug %}">
              {% if product.featured %}
                <img src="{{ product.featured.url }}" alt="{{ product.name }}" class="w-full">
              {% else %}
                <img src="{% static 'images/placeholder.webp' %}" alt="{{ product.name }}" class="w-full">
              {% endif %}
            </a>
            <div class="flex flex-col">
              {% if product.category %}
                <a href="{% url 'shop' %}?category={{ product.category.slug }}" class="uppercase text-xs py-2 font-bold text-neutral-600 hover:text-neutral-600 transition duration-300 ease-in-out">{{ product.category }}</a>
              {% endif %}
              <a href="{% url 'product' product.slug %}" class="truncate">{{ product.name }}</a>
              <div class="flex justify-between items-center pt-2">
                <p class="m-0">{{config.CURRENCY_SYMBOL}}{{ product.price }}</p>
                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="quantity" value="1">
                  <input type="hidden" name="redirect_url" value="{{ request.path }}">
                  <button type="submit" class="bg-blue-600 hover:bg-blue-800 p-1 rounded-lg w-8 h-8 flex justify-center items-center transition duration-300 ease-in-out" data-cy="product-{{product.slug}}" aria-label="Add to Bag">{% icon 'icon-cart' 'md' 'fill-white w-5 h-5' %}</button>
                </form>
              </div>
              
            </div>
          </div>
        {% endfor %}
        {% else %}
          <p>No products found</p>
        {% endif %}
      </section>
    </main>
  </div>

{% endblock %}
