<!DOCTYPE html>
{% load static %}
{% load compress %}
{% load text_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Metadata -->
    {% include 'partials/meta.html' %}

    <!-- Styles -->
    {% block css %}
      <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <!-- Favicon Includes -->
    {% include 'partials/favicon.html' %}
  </head>

  <body class="bg-neutral-50 flex flex-col h-screen justify-between">
    {% include 'partials/header.html' %}
    {% block content %}

    {% endblock %}
    {% include 'partials/footer.html' %}

    {% if messages %}
      {% for message in messages %}
        {% with toast_template='partials/toasts/toast_'|addstr:message.tags|addstr:'.html' %}
          {% include toast_template %}
        {% endwith %}
      {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

    {% compress js %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    {% block postloadjs %}

    {% endblock %}
  </body>
</html>
