{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block content %}
  <!-- Page Title -->
  {% include 'partials/page_title.html' with title='Orders' variant='backend' %}
  
  <!-- Account Navigation -->
  {% include 'partials/nav_account.html' %}

  <!-- Back Button -->
  <section class="container py-rg">
    <a href="{% url 'account_orders' %}" class="inline-block bg-neutral-200 hover:bg-neutral-300 transition-colors duration-200 ease-in-out p-2 pr-3 rounded-md">
      <span class="flex items-center">
        <span class="mr-1">{% icon 'icon-arrow' 'sm' %}</span>
        <span class="text-xs uppercase font-bold">Back</span>
      </span>
    </a>
  </section>

  <!-- Order Details -->
  <div class="container md:grid grid-cols-2 gap-4 pb-rg">
    <section>
      <h2 class="text-2xl font-bold">Order Details</h2>
      <div class="bg-neutral-100 p-4">
        <div class="flex gap-2">
          <span class="font-bold">Order Number:</span>
          <span>{{ order.order_number }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Order Date:</span>
          <span>{{ order.created_at }}</span>
        </div>
        <div class="py-xxs">
          <div class="flex gap-2">
            <span class="font-bold">Full name:</span>
            <span>{{ order.first_name }} {{ order.last_name }}</span>
          </div>
          <div class="flex gap-2">
            <span class="font-bold">Email:</span>
            <span>{{ order.email }}</span>
          </div>
          <div class="flex gap-2">
            <span class="font-bold">Phone:</span>
            <span>{{ order.phone_number }}</span>
          </div>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Address</span>
          <span>{{ order.address_line_1 }}</span>
          {% if order.address_line_2 %}
            <span>, {{ order.address_line_2 }}</span>
          {% endif %}
        </div>
        <div class="flex gap-2">
          <span class="font-bold">City:</span>
          <span>{{ order.town_city }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">County:</span>
          <span>{{ order.county }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Postcode:</span>
          <span>{{ order.postcode }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Country:</span>
          <span>{{ order.country }}</span>
        </div>
      </div>
      <div class="bg-blue-100 p-4">
        <div class="flex gap-2">
          <span class="font-bold">Total:</span>
          <span>{{ config.CURRENCY_SYMBOL }}{{ order.grand_total }}</span>
        </div>
        <div class="flex gap-2">
          <span class="font-bold">Status:</span>
          <span>{{ order.status }}</span>
        </div>
      </div>
    </section>
    <section class="mt-xs md:m-0">
      <h2 class="text-2xl font-bold">Your Items</h2>
      
      <!-- Order items -->
      {% for item in order.items %}
        <div class="flex gap-4 my-4 bg-neutral-100 p-4">
          <img src="{{ item.product.featured.url }}" alt="{{ item.product.name }}" class="w-24 h-24 object-cover rounded-md" />
          <div class="overflow-hidden">
            <p class="m-0 truncate">{{ item.product.name }}</p>
            <div class="flex gap-2">
              <span class="font-bold">Items:</span>
              <span>{{ item.quantity }}</span>
            </div>
            <div class="flex gap-2">
              <span class="font-bold">Price:</span>
              <span>{{ config.CURRENCY_SYMBOL }}{{ item.lineitem_total }}</span>
            </div>

            {% if item.reviewed %}
              <span class="inline-block py-1 px-2 mb-2 text-sm font-medium rounded-md bg-neutral-200">Reviewed</span>
            {% else %}
              <a href="{% url 'account_review_submit' item.id %}" class="button button__primary button--small">Review the Product</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
