{% extends 'base.html' %}
{% load ui_tags %}
{% load static %}

{% block content %}
  {% include 'partials/nav_cms.html' %}
  
  <section class="container md:hidden">
    <h1>Categories</h1>
  </section>

  <section class="container pt-4">
    <a href="{% url 'cms_categories' %}" class="button button__icon button--small">{% icon 'icon-arrow' 'sm' %}Back</a>
  </section>

  <section class="container py-rg">
    <h2>{{ category.name }}</h2>
    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}

        {% for field in form %}
          <div class="flex flex-col">{{ field.label_tag }}
            {{ field }}
            {{ field.errors }}</div>
        {% endfor %}

        <div class="flex items-center gap-4 py-xs">
          <button class="button" type="submit" name="add_item">Update</button>
          <button id="delete-popup-button" data-category-id="{{ category.id }}">Delete</button>
        </div>
      </form>
    </div>
  </section>
  
  <!-- The overlay and popup for deletion confirmation -->
  <div id="overlay" class="hidden fixed top-0 left-0 bg-blue-800 bg-opacity-80 w-screen h-screen"></div>

  <div id="delete-popup" class="hidden flex fixed items-center justify-center w-screen h-screen">
      <div class="bg-white p-4 rounded-lg">
          <p>Are you sure you want to delete this category?</p>
          <div class="flex gap-4">
              <button id="confirm-delete-btn" class="button">Delete</button>
              <button id="cancel-btn" class="button">Cancel</button>
          </div>
      </div>
  </div>
  
  <script>
    const popup = document.getElementById('delete-popup');
    const overlay = document.getElementById('overlay');
    const confirmDeleteBtn = document.getElementById('confirm-delete-btn');
    const cancelDeleteBtn = document.getElementById('cancel-btn');

    document.getElementById('delete-popup-button').addEventListener('click', function(event) {
        event.preventDefault();
        const categoryId = this.getAttribute('data-category-id');
        popup.classList.replace('hidden', 'flex');
        overlay.classList.replace('hidden', 'flex');

        confirmDeleteBtn.onclick = function() {
            submitDeleteForm(categoryId);
        };
    });

    cancelDeleteBtn.addEventListener('click', function() {
        popup.classList.add('hidden');
        overlay.classList.add('hidden');
    });

    function submitDeleteForm(categoryId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/account/categories/${categoryId}/delete/`;

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);

        document.body.appendChild(form);
        form.submit();
    }
  </script>

{% endblock %}
