{% extends 'base.html' %}
{% load ui_tags %}
{% load static %}

{% block content %}
  <!-- Page Title -->
  {% include 'partials/page_title.html' with title='Update Product' variant='backend' %}

  <!-- CMS Navigation -->
  {% include 'partials/nav_cms.html' %}

  <!-- Back Button -->
  <section class="container py-rg">
    <a href="{% url 'cms_categories' %}" class="inline-block bg-neutral-200 hover:bg-neutral-300 transition-colors duration-200 ease-in-out p-2 pr-3 rounded-md">
      <span class="flex items-center">
        <span class="mr-1">{% icon 'icon-arrow' 'sm' %}</span>
        <span class="text-xs uppercase font-bold">Back</span>
      </span>
    </a>
  </section>

  <!-- Update Category Form -->
  <section class="container pb-rg">
    <h2>{{ product.name }}</h2>
    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}

        {% render_field form.name %}
        {% render_field form.slug %}
        {% render_field form.description %}

        <div class="flex items-center gap-4 py-xs">
          <button class="button button__primary" type="submit" name="add_item">Add</button>
          <a class="button button__secondary" href="{% url 'cms_categories' %}">Cancel</a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
