{% extends 'base.html' %}
{% load ui_tags %}
{% load static %}

{% block content %}
  {% include 'partials/nav_cms.html' %}
  
  <section class="container pb-sm">
    <a href="{% url 'cms_categories' %}" class="inline-block bg-neutral-200 hover:bg-neutral-300 transition-colors duration-200 ease-in-out p-2 pr-3 rounded-md">
      <span class="flex items-center">
        <span class="mr-1">{% icon 'icon-arrow' 'sm' %}</span>
        <span class="text-xs uppercase font-bold">Back</span>
      </span>
    </a>
  </section>
  
  <section class="container pb-rg">
    <h2>{{ product.name }}</h2>
    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}

        {% for field in form %}
          {% if field.name != 'featured' %}
            <div class="flex flex-col">
              {{ field.label_tag }}
              {{ field }}
              {{ field.errors }}
            </div>
          {% endif %}
        {% endfor %}

        <div class="flex items-center gap-4 py-xs">
          <button class="button" type="submit" name="add_item">Add</button>
          <a href="{% url "cms_categories" %}">Cancel</a>
        </div>
      </form>
      
    </div>
  </section>
{% endblock %}
