{% extends 'base.html' %}
{% load ui_tags %}
{% load static %}

{% block content %}
  {% include 'partials/nav_cms.html' %}
  
  <section class="container pb-sm">
    <a href="{% url 'cms_products' %}" class="button button__icon button--small">{% icon 'icon-arrow' 'sm' %}Back</a>
  </section>

  <section class="container py-rg">
    <h2>{{ product.name }}</h2>
    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}

        <div class="flex gap-4">
          <div class="w-1/3">
            {% for field in form %}
              {% if field.name != 'featured' %}
                <div class="flex flex-col">
                  {{ field.label_tag }}
                  {{ field }}
                  {{ field.errors }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="w-2/3">
            <div class="flex gap-2">
              {% if product.featured %}
                <img src="{{ product.featured.url }}" alt="{{ product.name }}" class="w-full" />
              {% else %}
                <img src="{% static 'images/placeholder.webp' %}" alt="{{ product.name }}" class="w-full" />
              {% endif %}
            </div>
            <div class="flex flex-col">
              {{ form.featured.label_tag }}
              {{ form.featured }}
              {{ form.featured.errors }}
            </div>
          </div>
        </div>

        <div class="flex items-center gap-4 py-xs">
          <button class="button" type="submit" name="add_item">Update</button>
          <button id="delete-popup-button" data-product-id="{{ product.id }}">Delete</button>
        </div>
      </form>
      
    </div>
  </section>
  
  <div id="overlay" class="hidden fixed top-0 left-0 bg-blue-800 bg-opacity-80 w-screen h-screen"></div>

  <div id="delete-popup" class="hidden flex fixed items-center justify-center w-screen h-screen">
      <div class="bg-white p-4 rounded-lg">
          <p>Are you sure you want to delete this product?</p>
          <div class="flex gap-4">
              <button id="confirm-delete-btn" class="button">Delete</button>
              <button id="cancel-btn" class="button">Cancel</button>
          </div>
      </div>
  </div>
  
  <script>
    const popup = document.getElementById('delete-popup');
    const overlay = document.getElementById('overlay');
    const confirmDeleteBtn = document.getElementById('confirm-delete-btn');
    const cancelDeleteBtn = document.getElementById('cancel-btn');

    document.getElementById('delete-popup-button').addEventListener('click', function(event) {
        event.preventDefault();
        const productId = this.getAttribute('data-product-id');
        popup.classList.replace('hidden', 'flex');
        overlay.classList.replace('hidden', 'flex');

        confirmDeleteBtn.onclick = function() {
            submitDeleteForm(productId);
        };
    });

    cancelDeleteBtn.addEventListener('click', function() {
        popup.classList.add('hidden');
        overlay.classList.add('hidden');
    });

    function submitDeleteForm(productId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/account/products/${productId}/delete/`;

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);

        document.body.appendChild(form);
        form.submit();
    }
  </script>

{% endblock %}
