{% extends 'base.html' %}
{% load ui_tags %}
{% load static %}

{% block content %}
  <main>
    <section class="bg-neutral-100">
      <div class="container py-xxs">
        <div class="flex text-sm">
          <div class="flex w-full md:w-1/2 gap-1">
            <a href="{% url 'shop' %}" class="text-primary text-blue-600 underline">Shop</a>
            <span>&gt;</span>
            <a href="{% url 'shop' %}?category={{ product.category|lower|urlencode }}" class="text-primary text-blue-600 underline">{{ product.category }}</a>
            <span>&gt;</span>
            <span class="text-primary truncate text-neutral-600">{{ product.name }}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="flex gap-4 py-rg">
        <div class="w-full md:w-3/5">
          {% if product.featured %}
            <img src="{{ product.featured.url }}" alt="{{ product.name }}" class="w-full" />
          {% else %}
            <img src="{% static 'images/placeholder.webp' %}" alt="{{ product.name }}" class="w-full" />
          {% endif %}
        </div>

        <div class="w-full md:w-2/5">
          <p class="text-h3 font-bold">{{ config.CURRENCY_SYMBOL }}{{ product.price }}</p>
          <h1 class="text-base font-normal">{{ product.name|safe }}</h1>
          <div class="bg-neutral-100 font-medium p-2">
            {% if product.stock == 0 %}
              <span>Sold Out!</span>
            {% elif product.stock <= 4 %}
              <span>Only {{ product.stock }} left</span>
            {% else %}
              <span class="text-green-400">In Stock</span>
            {% endif %}
          </div>
          <h2 class="h4">Details</h2>
          <p>{{ product.details|safe }}</p>
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </section>

    <section class="py-sm">
      <div class="container">
        <div class="flex flex-col">
          {% for review in reviews %}
            {% include 'review/partials/review.html' %}
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}
