{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}
{% load bag_tools %}

{% block content %}
  <div>
    <!-- Page Title -->
    {% include 'partials/page_title.html' with title='Checkout' %}

    <section class="bg-neutral-100">
      <div class="container py-xxs">
        <div class="flex text-sm">
          <div class="flex w-full md:w-1/2 gap-1">
            <a href="{% url 'shop' %}" class="text-primary text-blue-600 underline">Shop</a>
            <span>&gt;</span>
            <a href="{% url 'bag' %}" class="text-primary text-blue-600 underline">Bag</a>
            <span>&gt;</span>
            <span class="text-primary truncate text-neutral-600">Checkout</span>
          </div>
        </div>
      </div>
    </section>

    <section class="container pt-rg">
      <p>Please fill out the form below to complete your order</p>

      {% if not user.is_authenticated %}
        <div class="form-check-label mb-sm" for="id-save-info">
          <a class="text-info text-blue-600 underline" href="{% url 'account_login' %}?next={% url 'checkout' %}" data-cy="checkout-login">Login</a> to use your saved information.
        </div>
      {% endif %}
    </section>

    <section class="container">
      <div class="grid md:grid-cols-2 gap-4 pb-rg">
        <section class="md:order-2">
          <p class="text-muted">Order Summary ({{ product_count }})</p>
          {% for item in bag_items %}
            <div class="flex gap-4 mb-4">
              <div class="w-1/6" data-cy="checkout-summary-items-list">
                <a href="{% url 'product' item.product.id %}">
                  {% if item.product.featured %}
                    <img class="w-full" src="{{ item.product.featured.url }}" alt="{{ item.product.name }}" />
                  {% else %}
                    <img class="w-full" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" />
                  {% endif %}
                </a>
              </div>
              <div class="w-5/6">
                <div>
                  <strong>{{ item.product.name }}</strong>
                  <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3">
                  <p class="my-0 small text-muted">{{ config.CURRENCY_SYMBOL }}{{ item.product.price|calc_subtotal:item.quantity }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="text-right">
            <div class="bg-neutral-100 p-4">
              <p class="m-0" data-cy="checkout-summary-order-total">Order Total: {{ config.CURRENCY_SYMBOL }}{{ total|floatformat:2 }}</p>
              {% if delivery == 0 %}
                <p class="m-0">Delivery: Free</p>
              {% else %}
                <p class="m-0">Delivery: {{ config.CURRENCY_SYMBOL }}{{ delivery|floatformat:2 }}</p>
              {% endif %}
              <p class="m-0">Grand Total: {{ config.CURRENCY_SYMBOL }}{{ grand_total|floatformat:2 }}</p>
            </div>
            {% if total < config.FREE_DELIVERY_THRESHOLD %}
              <p>Spend more than €{{ config.FREE_DELIVERY_THRESHOLD|floatformat:2 }} and shpping is free.</p>
            {% endif %}
          </div>
        </section>
        <section>
          <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset>
              <legend class="text-sm">Details</legend>
              {% render_field order_form.first_name show_label=False aria_label='First Name' %}
              {% render_field order_form.last_name show_label=False aria_label='Last Name' %}
              {% render_field order_form.email show_label=False aria_label='Email' %}
              {% render_field order_form.phone_number show_label=False aria_label='Phone Number' %}
            </fieldset>

            <fieldset class="w-full">
              <legend class="text-sm">Delivery</legend>
              {% render_field order_form.country type='select' class='md:max-w-72' show_label=False aria_label='Country' %}
              {% render_field order_form.postcode show_label=False aria_label='Postcode' %}
              {% render_field order_form.town_city show_label=False aria_label='Town or City' %}
              {% render_field order_form.address_line_1 show_label=False aria_label='Address Line 1' %}
              {% render_field order_form.address_line_2 show_label=False aria_label='Address Line 2' %}
              {% render_field order_form.county show_label=False aria_label='County' %}
            </fieldset>

            <fieldset>
              {% if not user.is_authenticated %}
                <div class="field field__checkbox">
                  <input type="checkbox" id="id-create-account" name="create_account" />
                  <label for="id-create-account">Create an account on checkout</label>
                </div>
                <div id="account-fields" class="mt-2" style="display: none;">
                  <div class="field field__text">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" />
                  </div>
                  <div class="field field__text">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" />
                  </div>
                </div>
              {% endif %}
            </fieldset>

            <fieldset>
              <legend class="text-sm">Payment</legend>
              <!-- A Stripe card element will go here -->
              <div id="card-element"></div>
              <!-- Used to display form errors -->
              <div id="card-errors" role="alert"></div>
              <input type="hidden" value="{{ client_secret }}" name="client_secret" />
            </fieldset>
            <div class="py-4">
              <button id="submit-button" class="button button__primary" type="submit" data-cy="complete-order">Complete Order</button>
            </div>
          </form>
        </section>
      </div>
    </section>

    <div id="loading-overlay" class="hidden fixed top-0 left-0 w-full h-full bg-blue-100 z-99999">
      <div class="flex w-full h-full justify-center items-center text-light logo-font loading-spinner">
        <div class="flex flex-col">
          <img src="{% static 'images/loading.webp' %}" alt="Loading" class="w-36" />
          Loading...
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  {{ stripe_public_key|json_script:'id_stripe_public_key' }}
  {{ client_secret|json_script:'id_client_secret' }}
  <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
  <script>
    document.getElementById('id-create-account').addEventListener('change', function () {
      const accountFields = document.getElementById('account-fields')
      if (this.checked) {
        accountFields.style.display = 'block'
      } else {
        accountFields.style.display = 'none'
      }
    })
  </script>
{% endblock %}
