{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block content %}
  <main class="main">
    <!-- Page Title -->
    {% include 'partials/page_title.html' with title='Bag' %}

    <section class="bg-neutral-100">
      <div class="container py-xxs">
        <div class="flex text-sm">
          <div class="flex w-full md:w-1/2 gap-1">
            <a href="{% url 'shop' %}" class="text-primary text-blue-600 underline">Shop</a>
            <span>&gt;</span>
            <span class="text-primary truncate text-neutral-600">Bag</span>
          </div>
        </div>
      </div>
    </section>

    <section class="container py-rg">
      {% if bag_items %}
        {% for item in bag_items %}
          <div class="flex items-center p-4 my-4 gap-4 bg-neutral-100">
            <div class="w-48">
              {% if item.product.featured %}
                <img src="{{ item.product.featured.url }}" alt="{{ item.product.name }}" class="w-24" />
              {% else %}
                <img src="{% static 'images/placeholder.webp' %}" alt="{{ product.name }}" class="w-full" />
              {% endif %}
            </div>

            <div class="flex flex-col w-full">
              <span>{{ item.product.name }}</span>
              <div class="flex items-center justify-between">
                <form method="POST" class="flex items-center gap-4">
                  {% csrf_token %}
                  <div class="field field__text">
                    <input type="number" name="quantity" id="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" class="w-16" aria-label="Item Quantity" />
                  </div>
                  <input type="hidden" name="product_id" value="{{ item.product.id }}" />
                  <button class="button button__outline-primary" type="submit" name="update_bag" aria-label="Update Quantity">Update</button>
                </form>
              </div>
            </div>

            <span class="ml-auto">{{ config.CURRENCY_SYMBOL }}{{ item.product.price }}</span>

            <form method="POST" class="flex ml-auto">
              {% csrf_token %}

              <input type="hidden" name="product_id" value="{{ item.product.id }}" />
              <button class="button button__remove" type="submit" name="remove_item" aria-label="Delete Item">{% icon 'icon-delete' 'sm' %}</button>
            </form>
          </div>
        {% endfor %}

        <div class="flex items-center justify-between gap-4 px-4">
          <div class="flex items-center gap-4">
            <a href="{% url 'checkout' %}" class="button button__primary">Checkout</a>
            <form method="POST" class="flex flex-wrap">
              {% csrf_token %}
              <button class="button button__outline-danger" type="submit" name="empty_bag">Empty Bag</button>
            </form>
          </div>
          <span>Total: {{ config.CURRENCY_SYMBOL }}{{ total }}</span>
        </div>
      {% else %}
        <p>Your bag is empty.</p>
      {% endif %}
    </section>
  </main>
{% endblock %}
